## 5 データ構造
### 5.1 リストについての補足

list.append(x)
list.extend(iterable)
list.insert(i, x)
list.remove(x)
list.pop([i])
list.clear
list.index(x[,start[, end]])
list.count(x)
list.sort(key=Note, reverse=False)
list.reverse()
list.copy()

### 5.1.1 リストをスタックとして使う
last-in, first-out

In [1]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)

In [2]:
stack

[3, 4, 5, 6, 7]

In [3]:
stack.pop()

7

In [4]:
stack

[3, 4, 5, 6]

In [5]:
stack.pop()
stack.pop()

5

In [6]:
stack

[3, 4]

### 5.1.2 リストをキューとして使う
first-in, first-out

In [8]:
from collections import deque

In [9]:
queue = deque(["Eric", "John", "Michael"])

In [10]:
queue.append("Terry")

In [11]:
queue.popleft()

'Eric'

In [12]:
queue.popleft()

'John'

In [13]:
queue

deque(['Michael', 'Terry'])

### 5.1.3 リスト内包

In [15]:
squares = []

In [17]:
for x in range(10):
    squares.append(x**2)

In [18]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
squares = list(map(lambda x: x**2, range(10)))

In [20]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [21]:
squares = [x**2 for x in range(10)]

In [22]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### 5.1.4 入れ子のリスト内包

In [23]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [24]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

## 5.2 del文

In [25]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [26]:
del a[0]

In [27]:
a

[1, 66.25, 333, 333, 1234.5]

In [28]:
del a[2:4]

In [29]:
a

[1, 66.25, 1234.5]

In [30]:
del a[:]

In [31]:
a

[]

In [32]:
del a

In [33]:
a

NameError: name 'a' is not defined

## 5.3 タプルとシーケンス

In [34]:
t = 12345, 54321, 'hello!'

In [35]:
t

(12345, 54321, 'hello!')

In [36]:
u = t, (1, 2, 3, 4, 5)

In [37]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [38]:
t[0] = 99999

TypeError: 'tuple' object does not support item assignment

In [39]:
empty = ()

In [40]:
singleton = 'hello',

In [41]:
len(empty)

0

In [42]:
len(singleton)

1

In [43]:
singleton

('hello',)

## 5.4 集合（set）
集合には、中カッコ{}またはset()関数を使う。

In [44]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [45]:
print(basket)

{'orange', 'banana', 'pear', 'apple'}

In [46]:
'orange' in basket

True

In [47]:
a = set('abracadabra')
b = set('alacazam')

In [48]:
a

{'a', 'b', 'c', 'd', 'r'}

In [49]:
a - b

{'b', 'd', 'r'}

In [50]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [51]:
a & b

{'a', 'c'}

In [52]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

In [53]:
a = {x for x in 'abracadabra' if x not in 'abc'}

In [54]:
a

{'d', 'r'}

## 5.5 ディクショナリ
キーペアの集合

In [55]:
tel = {'jack': 4098, 'sape': 4139}

In [56]:
tel['guido'] = 4127

In [57]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [58]:
tel['giido'] = 4144

In [59]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127, 'giido': 4144}

In [60]:
tel['giido'] = 4155

In [61]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127, 'giido': 4155}

In [62]:
tel['jack']

4098

In [63]:
del tel['sape']

In [64]:
tel['irv'] = 4127

In [65]:
tel

{'jack': 4098, 'guido': 4127, 'giido': 4155, 'irv': 4127}

In [66]:
list(tel)

['jack', 'guido', 'giido', 'irv']

In [67]:
sorted(tel)

['giido', 'guido', 'irv', 'jack']

In [68]:
tel

{'jack': 4098, 'guido': 4127, 'giido': 4155, 'irv': 4127}

In [69]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [70]:
d = dict(sape=4139, guido=4127, jack=4098)

In [71]:
d

{'sape': 4139, 'guido': 4127, 'jack': 4098}

## 5.6 ループのテクニック

In [73]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [74]:
for k in knights.items():
    print(k)

('gallahad', 'the pure')
('robin', 'the brave')

In [75]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [76]:
for i in enumerate(['tic', 'tac', 'toe']):
    print(i)

(0, 'tic')
(1, 'tac')
(2, 'toe')

## 5.7 条件についての補足
while文やif文で使われる条件には、比較だけでなくあらゆる演算子が使える。

## 5.8 シーケンスの比較、その他の型の比較

同一比較->大章比較->辞書的比較->長さ比較

辞書的比較には、個々の文字のUnicodeコードポイント番号を使う。